<div class="d-flex justify-content-between align-items-center my-4">
  <h1 class="mb-0">
    <%= link_to t("raif.admin.prompt_previews.index.title"), raif.admin_prompt_previews_path %> /
    <%= @preview_class.preview_name %>#<%= @method_name %>
  </h1>
</div>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0"><%= t("raif.admin.prompt_previews.show.instance") %> <code><%= @result[:instance].class.name %></code></h5>
      </div>
    </div>

    <% if @result[:system_prompt].present? %>
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><%= t("raif.admin.prompt_previews.show.system_prompt") %></h5>
        </div>
        <div class="card-body">
          <pre class="mb-0" style="white-space: pre-wrap;"><%= @result[:system_prompt] %></pre>
        </div>
      </div>
    <% end %>

    <% if @result[:prompt].present? %>
      <div class="card mb-3">
        <div class="card-header">
          <h5 class="mb-0"><%= t("raif.admin.prompt_previews.show.prompt") %></h5>
        </div>
        <div class="card-body">
          <pre class="mb-0" style="white-space: pre-wrap;"><%= @result[:prompt] %></pre>
        </div>
      </div>
    <% end %>

    <% if @result[:prompt].blank? && @result[:system_prompt].blank? %>
      <div class="alert alert-warning">
        <%= t("raif.admin.prompt_previews.show.no_output") %>
      </div>
    <% end %>
  </div>
</div>
